{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import", "prettier"],
    "extends": [
      "prettier",
      "airbnb-base",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "import/extensions": 0,
      "import/no-default-export": 0,
      "import/no-unresolved": 0,
      "import/prefer-default-export": 0,
      "import/no-extraneous-dependencies": 0,
      "no-plusplus": 0,
      "no-underscore-dangle": 0,
      "no-use-before-define": 0,
      "object-shorthand": 0,
      "prettier/prettier": ["error"],
      "quotes": [2, "single", { "avoidEscape": true }],
      "curly": ["error", "multi-or-nest"],
      "nonblock-statement-body-position": 0,
      "object-curly-newline": 0,
      "no-param-reassign": 0,
      "indent": 1,
      "max-len": 0,
      "semi": 0,
      "eqeqeq": 0,
      "no-return-await": 0,
      "no-restricted-syntax": 0,
      "guard-for-in": 0,
      "operator-linebreak": 0,
      "@typescript-eslint/no-explicit-any": 1,
      "no-return-assign": 0,
      "no-shadow": 0,
      "no-await-in-loop": 0,
      "no-restricted-globals": 0,
      "prefer-destructuring": ["error", { "object": false, "array": false }],
      "prefer-promise-reject-errors": 0,
      "no-console": ["error", { "allow": ["info", "error"] }],
      "arrow-body-style": 0,
      "radix": 0,
      "no-eval": 0,
      "no-restricted-properties": 0,
      "consistent-return": 0,
      "no-unused-expressions": 0,
      "no-loop-func": 0,
      "no-throw-literal": 0,
      "no-continue": 0
    }
  }
  